body{
    background-color: cyan;
    color: palevioletred;
    font-size: 60px;
    text-align: left;
    background-image: url('mainbg.png');
    background-size: cover;
    font-family: 'Fredoka';
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.learning{
    background-color: red;
    color: greenyellow;
    text-align: center;
    font-size: 30px;
    font-family: 'Pixelify Sans';
}

.links{
    background-color:aquamarine;
    background-size:auto;
    font-size: 30px;
    text-align: right;
}